<main>
    <article>


        <form action="/localize-jahu/contato" method="post">
            <h1>FORMULÁRIO DE CONTATO</h1>

            <div class="container">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            <div class="container">
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="container">
                <label for="Assunto"> Assunto: </label>
                <input type="text" id="Assunto" name="Assunto" required>
            </div>
        <div class="div-descricao">
                <label class="label-descricao" for="descricao"> Descrição:</label>
                <textarea id="descricao" name="descricao" rows="4" cols="50" maxlength="100" required></textarea>
                <div class="btns">
                    <input class="btn btn1" type="submit" value="Enviar" onclick="alert('Função não implementada.\nPor favor, envie o email diretamento para\nLocalizeJahu@gmail'); event.preventDefault();">
                    <input class="btn btn2" type="reset" value="Limpar" onclick="document.getElementById('nome').focus();">
                </div>
        </form>


    </article>
</main>