
    <main>
        <article>
            <form method="get">
                <div class="esqueceu">
                    <h1 class="redefine">Redefinir Senha</h1>
                    <p class="preencha">Preencha o seu email abaixo para<br> solicitar a recuperação de senha.</p>
                    <label for="email" class="email">Email</label>
                    <input type="text" name="email" id="email">
                    <p class="texto">Você receberá um email no endereço informado <br>para continuar a redefinir sua senha.</p>
                </div>
                <div class="button">
                    <input type="submit" value="Enviar">
                    <input type="reset" value="Limpar">
                </div>
            </form>
        </article>


    </main>
