<main>
    <article>
        <img class="evento" src="assets/images/evento4.jpeg" alt="Evento Expo Jahu 2023">
        <div class="conjunto">
            <div class="titulo">
                <h1>Expo Jahu</h1>
            </div>
            <div class="data">
                <img class="imag" src="assets/images/data.png" alt="Data do Evento">
                <p class="subtitulo"><strong>Data:</strong> 11/08/2023 até 20/08/2023</p>
            </div>
            <div class="hora">
                <img class="imag" src="assets/images/hora.png" alt="Hora do Evento">
                <p class="subtitulo"><strong>Hora:</strong> 9:00 até 23:00</p>
            </div>
            <div class="local">
                <img class="ima" src="assets/images/local.png" alt="Local do Evento">
                <p class="subtitulo2"><strong>Local:</strong> Av. Pref. Dr. Alfeu Fabris -<br> Jardim Padre Augusto
                    Sani, Jaú - SP.</p>
            </div>
        </div>
        <p class="descricao">Após 8 anos da última edição do evento, a Expo Jahu está de volta, contendo diversas
            atrações gratuitas
            para a cidade e região, que conta com a realização da Prefeitura Municipal de Jahu.
        </p>
    </article>
</main>