<footer>
    <div class="rodape-container">
        <div class="rodape-logo">
            <img src="assets/images/logo_4C4452.png" alt="Logo da Localize Jahu" class="logo1">
            <img src="assets/images/logo2_4C4452.png" alt="Logo da Localize Jahu" class="logo2">
        </div>
        <div class="rodape-menu">

            <div>
                <a class="rodape-link1" href="/localize-jahu/">Home</a>
            </div>
            <div>
                <a class="rodape-link" href="cadastro">Cadastre-se</a>
            </div>
            <div>
                <a class="rodape-link" href="sobreNos">Sobre Nós</a>
            </div>
            <div>
                <a class="rodape-link" href="contato">Contato</a>
            </div>
        </div>
        <div class="div-subir">
            <a id="irTopo" href="#" class="a-subir">
                <img class="img-subir" src="assets/images/setaCima.png" alt="Seta apontando para cima">
            </a>
        </div>
    </div>
</footer>
<script src="assets/scripts/script.js" defer></script>

</body>

</html>