<main>
    <article>
        <div class="container">
            <h1>Nosso Propósito</h1>

            <p >
                Nós somos um grupo de quatro estudantes com o propósito de promover a
                Cultura local em Jaú, visando amplificar a visibilidade das expressões culturais,
                propiciando a diversidade artística, instigando a participação da comunidade
                em atividades culturais na cidade de Jaú e região. Nosso site permite a
                divulgação e exibição dos próximos eventos, possibilitando também um meio
                de contato conosco para mais informações.
            </p>
        </div>
        <br>
<br>
        <div class="membros">
                <div class="membro">
         
                    <h2>Alissa Gabriel</h2>
                    <p class="descricao">Meu nome é Alissa, estou cursando o primeiro semestre do curso Desenvolvimento
                        de Software Multiplataforma na Fatec Jahu. No projeto Localize Jahu, desenvolvi o design e a
                        codificação da página de exibir evento e da página de redefinir senha.</p>
                </div>
                <div class="membro">
        
                   <h2>Evelyn Nataly Aparecida Cassinotte</h2>
                    <p class="descricao">Sou apaixonada por tecnologia e encontro diversão e realização enquanto programo. Embora tenha encontrado diversas dificuldades ao longo do projeto, cada uma delas trouxe valiosos aprendizados que enriqueceram minha experiência e contribuíram para o crescimento do Localize Jahu.</p>
                </div>
                <div class="membro">

                    <h2>Lara Nicoly Ronchesel Ramos</h2>
                    <p class="descricao">Meu nome é Lara e atualmente estou cursando o curso Desenvolvimento de
                        Software Multiplataforma na FATEC Jahu. Me encarreguei de desenvolver tanto o design quanto
                        o código da página "sobre nós" do projeto Localize Jahu.</p>
                </div>
                <div class="membro">

                    <h2>Raissa Geovana Araujo</h2>
                    <p class="descricao">Meu nome é Raissa, curso Desenvolvimento de Software e Multiplataforma na
                        Fatec, fiquei responsável pela parte tanto do design como também do desenvolvimento das
                        páginas cadastro de eventos e cadastro de usuários.</p>
                </div>
            </div>
        <BR></BR>


    </article>

</main>