<main>
    <article>
        <div class="container">
            <h1>Nosso Propósito</h1>

            <p>
                Nós somos um grupo de quatro estudantes com o propósito de promover a
                Cultura local em Jaú, visando amplificar a visibilidade das expressões culturais,
                propiciando a diversidade artística, instigando a participação da comunidade
                em atividades culturais na cidade de Jaú e região. Nosso site permite a
                divulgação e exibição dos próximos eventos, possibilitando também um meio
                de contato conosco para mais informações.
            </p>
        </div>
        <br>
        <br>
        <div class="membros">
            <div class="membro">

                <h2>Alissa Gabriel</h2>
                <p class="descricao">Estou cursando o segundo semestre do curso Desenvolvimento
                    de Software Multiplataforma na Fatec Jahu.</p>
            </div>
            <div class="membro">

                <h2>Evelyn Nataly Aparecida Cassinotte</h2>
                <p class="descricao">Sou apaixonada por tecnologia e encontro diversão e realização enquanto programo.
                    Embora tenha encontrado diversas dificuldades ao longo do projeto, cada uma delas trouxe valiosos
                    aprendizados que enriqueceram minha experiência e contribuíram para o crescimento do Localize Jahu.
                </p>
            </div>
            <div class="membro">

                <h2>Lara Nicoly Ronchesel Ramos</h2>
                <p class="descricao">Estou cursando o segundo semestre do curso Desenvolvimento
                    de Software Multiplataforma na Fatec Jahu.</p>
            </div>
            <div class="membro">

                <h2>Raissa Geovana Araujo</h2>
                <p class="descricao">Estou cursando o segundo semestre do curso Desenvolvimento
                    de Software Multiplataforma na Fatec Jahu.</p>
            </div>
        </div>
        <BR></BR>


    </article>

</main>