<main>
    <article>
        <div class="container">
            <h1>Nosso Propósito</h1>

            <p class="texto">
                Nós somos um grupo de quatro estudantes  com o propósito de promover a
                Cultura local em Jaú, visando amplificar a visibilidade das expressões culturais,
                propiciando a diversidade artística, instigando a participação da comunidade
                em atividades culturais na cidade de Jaú e região. Nosso site permite a
                divulgação e exibição dos próximos eventos, possibilitando também um meio
                de contato conosco para mais informações.
            </p>
        </div>
<br>
        <div class="container">
                <div class="foto1">
                    <img src="assets/images/alissa.jpg" alt="Foto Alissa">
                    <p class="texto2"> <strong>Alissa</strong></p>
                    <p class="texto2">Meu nome é Alissa, estou cursando o primeiro semestre do curso Desenvolvimento
                        de Software Multiplataforma na Fatec Jahu. No projeto Localize Jahu, desenvolvi o design e a
                        codificação da página de exibir evento e da página de redefinir senha.</p>
                </div>
                <div class="foto1">
                    <img src="assets/images/evelyn.png" alt="Foto Evellyn">
                    <p class="texto2"><strong>Evelyn</strong></p>
                    <p class="texto2">Sou Evelyn Cassinotte, apaixonada por tecnologia e sempre em busca de aprender
                        mais no desenvolvimento de software. Atualmente, estou cursando Desenvolvimento de Software
                        Multiplataforma na FATEC-Jahu. No projeto Localize Jahu, cuidei do design e da codificação
                        do menu, rodapé, página de login e página principal do site</p>
                </div>
                <div class="foto1">
                    <img src="assets/images/lara.jpg" alt="Foto Lara">
                    <p class="texto2"><strong>Lara</strong></p>
                    <p class="texto2">Meu nome é Lara e atualmente estou cursando o curso Desenvolvimento de
                        Software Multiplataforma na FATEC Jahu. Me encarreguei de desenvolver tanto o design quanto
                        o código da página "sobre nós" do projeto Localize Jahu.</p>
                </div>
                <div class="foto1">
                    <img src="assets/images/raissa.jpg" alt="Foto Raissa">
                    <p class="texto2"><strong>Raissa</strong></p>
                    <p class="texto2">Meu nome é Raissa, curso Desenvolvimento de Software e Multiplataforma na
                        Fatec, fiquei responsável pela parte tanto do design como também do desenvolvimento das
                        páginas cadastro de eventos e cadastro de usuários.</p>
                </div>
                <div class="foto1" id="foto">
                    <img class="thais" src="assets/images/thais.jpg" alt="Foto Thais">
                    <p class="texto2"><strong>Thais</strong></p>
                    <p>Meu nome é Thais Lima, sou estudante de Desenvolvimento de Software multiplataforma, primeiro
                        semestre. No projeto Localize Jahu desenvolvi o desenvolvi o design e codifição da página
                        "contato".</p>
                </div>
            </div>


    </article>

</main>