<main>
    <article>

        <!-- Corpo -->
        <div class="corpo">

            <h1>Cadastro de Usuário</h1>

            <br>

            <!--Nome Completo e Email-->
            <form method="get">

                <div class="nome">
                    <h2>Nome Completo</h2>
                    <input type="text" name="txt_nome" class="nome_completo">
                </div>

                <div class="nome">
                    <h2>Email</h2>
                    <input type="text" name="txt_email" class="email">
                </div>


                <!--Telefone e CPF-->

                <div class="container">
                    <div id="tel-cpf">
                        <div id="telefone-cpf">
                            <div id="label-tel">
                                <h3>Telefone</h3>
                                <input type="number" name="telefone" class="telefone">
                            </div>
                            <div id="label-cpf">
                                <h3>CPF</h3>
                                <input type="number" name="cpf" class="cpf">
                            </div>
                        </div>
                    </div>
                </div>



                <div class="nome">

                    <h2>Nome de Usuário</h2>
                    <input type="text" name="txt_usuario" class="nome_usuario">


                </div>
                <!-- Senha -->
                <div class="container2">

                    <div id="senha">
                        <div id="senhas">
                            <div id="label-senha1">
                                <h3>Senha</h3>
                                <input type="password" name="senha" class="criar-senha">
                            </div>
                            <div id="label-senha2">
                                <h3>Confirme Senha</h3>
                                <input type="password" name="senha" class="confirme-senha">
                            </div>
                        </div>
                    </div>

                </div>

                <!--Botão Enviar-->
                <p class="center">
                    <button type="reset"> Enviar </button>
                </p>

                <br>

                <!--Botão Limpar-->
                <p class="center">
                    <button class="limpar" type="reset"> Limpar </button>
                </p>

            </form>

        </div>

        <br>
        <br>
        <br>


    </article>
</main>