.corpo {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 20px;
    width: 98%;
    border: 5px solid #AD88C6;  
    border-radius: 30px;
}

.imagem-evento {
    width: 20%;
    border: 5px solid #AD88C6;  
    border-radius: 30px;
    margin: 10px;
}

.logoData, .logoHora, .logoLocal, .textData, .textHora, .textLocal {
   display: inline-block;
   vertical-align: middle;
}

.data, .local, .hora {
    padding-bottom: 15px;
    padding-right: 5px;
}

.evento {
    display: flex;
    flex-direction: row;
}

.descricao {
    margin-left: 10px;
    margin-right: 10px;
}

.conteudo {
    margin-top: 50px;
}

hr {
    border: none;              
    height: 2px;              
    background-color: #AD88C6;
    width: 100%;               
    margin: 20px auto;         
    opacity: 0.7;             
    border-radius: 5px;
}

.btnAutorizar, .btnRecusar {
    border-radius: 30px;
    padding: 8px;
}

@media (max-width: 820px) {
    .corpo {
        width: 90%;
    }

    .imagem-evento {
        width:45%;
        height: 70%;;
    }

    .conteudo {
        width:95%;
    }

}