.container {
    display: flex;
    flex-direction: column;
    width: 80%;

}

h2 {
    margin-top: 16px;
    background: rgb(173, 136, 198);
    background: linear-gradient(45deg, rgba(173, 136, 198, 1) 0%, rgba(76, 68, 82, 1) 80%);

    padding: 10px 10px 10px 0px;
    text-align: center;
    background-color: var(--cor2);
    width: 500px;
    height: 50px;
    border-radius: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    font-weight: 400;
    z-index: 1;
    box-sizing: border-box;
}

span,textarea{
    background: rgb(173, 136, 198);
    background: linear-gradient(60deg, #F7F3F9, var(--cor2) 100%);
    border-radius: 5px;
    border-top-left-radius: 0;
    background-color: #88808b;
    border: 6px solid var(--cor3);
    color: var(--cor3);
    max-width: 80vw;
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 20px;

    box-sizing: border-box;
    margin: -1px 10px 10px 0px;
    resize: none;
}

textarea{
    height: 100vh; 
    margin-bottom: 32px;
}

.btns {
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 12px;
    border: 2px solid var(--cor1);
    padding: 6px;
    border-radius: 10px;
    box-sizing: border-box;
    min-width: 120px;
    height: 50px;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}

.gerenciar {
    background-color: var(--cor2);

    font-weight: 500;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0 16px;
}

.gerenciar:hover {
    background-color: var(--cor3);
    color: #FFFFFF;
    border-color: var(--cor3);
    cursor: pointer;
}



.editar {

    color: var(--cor3);
    font-weight: 700;
    border: 3px solid var(--cor3);
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.editar:hover {
    background-color: var(--cor3);
    color: #FFFFFF;
    border-color: var(--cor3);
    cursor: pointer;
}