h1 {
    background: rgb(173, 136, 198);
    background: linear-gradient(45deg, rgba(173, 136, 198, 1) 0%, rgba(76, 68, 82, 1) 80%);
    margin-top: 26px;
    padding: 10px 30px 10px 30px;
    align-self: right;
    text-align: center;
    background-color: var(--cor3);
    width: 95%;
    min-height: 50px;
    border-radius: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    font-weight: 400;
    z-index: 1;
    box-sizing: border-box;
}

.banner {
    object-fit: cover;
    width: 95%;
    height: 500px;
    box-sizing: border-box;
    border-bottom: 5px solid var(--cor3);
    opacity: 1;
    z-index: -1;
}

.container-img {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;

}

.img {
    position: relative;
    top: -200px;
    width: auto;
    height: 195px;
}

.box {
    background: rgb(173, 136, 198);
    background: linear-gradient(45deg, rgba(173, 136, 198, 1) 0%, rgba(76, 68, 82, 1) 80%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    min-height: 60vh;
    border: 5px solid var(--cor3);
    border-top: 0;
    margin-top: -1px;
    margin-bottom: 36px;
    background-color: var(--cor3);
}




.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff49;

    margin-bottom: 12px;
}



.container .container {
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 50%;
    align-self: flex-start;
}

label {
    white-space: nowrap;
    min-width: auto;
    padding: 0 10px;
    background-color: transparent;
    color: white;
    font-weight: 400;
    border: none;
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="file"],
input[type="date"],
input[type="time"],
select {
    border: none;
    border-radius: 0%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    padding: 3px;
    color: white;
    font-weight: 500;
    background-color: transparent;
}



select {
    appearance: none;
    color: var(--cor3);
    width: 100%;
    text-align: right;
    border: 2px solid var(--cor3);
    padding-right: 6px;
}

.div-dia-quebra {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.div-dia {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type="date"],
input[type="time"] {
    border-radius: 0%;
    text-align: center;
    padding: 3px;
    color: var(--cor3);
}

input[type="date"] {
    margin-top: 1px;
}

.alerta {
    margin-bottom: 3px;
    color: var(--cor3);
}

.botao {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao:hover {
    cursor: pointer;
    scale: 1.5;

}

.img-mais {
    padding-top: 2px;
    width: 20px;
    box-sizing: border-box;
    transform: rotate(45deg);


}

.img-fechar {
    width: 20px;
    padding: 2px;
}

.label-mais {
    display: none;
}


.dias-adicionados {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dias-adicionados input {
    color: white;
}

.div-descricao {
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    border-color: var(--cor3);
    height: auto;
    color: var(--cor3);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
}

.descricao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.promotor{
    border: none;
    border-radius: 0%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    padding: 3px;
    color: white;
    font-weight: 500;
    background-color: transparent;
}

.situacao {
    width: 100%;
    height: 0;
    z-index: +2;
    display: flex;
    align-items: self-end;
    justify-content: self-end;

}

.situacao span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: self-end;
    justify-self: self-end;
    text-transform: capitalize;
    text-align: center;
    color: white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    min-width: 20%;
    min-height: 30px;
    position: relative;
    top: -470px;
    left: calc(70%);
}



.label-descricao {
    align-self: self-start;
    padding: 10px;
    text-align: center;
    background-color: var(--cor3);
    padding-right: 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0px;
    min-width: 20%;

}

textarea {
    background-color: white;
    resize: none;
    width: 100%;
    height: 70vh;
    border-top: 5px solid var(--cor3);
    color: var(--cor3);
    padding: 6px;
    border-top-left-radius: 0;
    box-sizing: border-box;
}

.btns {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 12px;
    border: 2px solid var(--cor1);
    padding: 0 16px;
    border-radius: 10px;
    box-sizing: border-box;
    min-width: 120px;
    height: 50px;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}

.btn1 {
    background-color: var(--cor2);

    font-weight: 500;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}

.btn1:hover {
    background-color: var(--cor3);
    color: #FFFFFF;
    border-color: var(--cor3);
    cursor: pointer;
}



.btn2 {

    color: var(--cor3);
    font-weight: 700;
    border: 3px solid var(--cor3);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.btn2:hover {
    background-color: var(--cor3);
    color: #FFFFFF;
    border-color: var(--cor3);
    cursor: pointer;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    .div-descricao {
        width: 90%;
    }

    .img-mais,
    .img-fechar {
        height: 30px;
        width: auto;
        transform: rotate(45deg);
    }

    .label-mais {
        display: block;
    }
}


@media (max-width: 1500px) {
    .quebra {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 30%;

    }

    input[type="time"] {
        width: 140px;
    }

    .div-dia {
        width: 100% !important;
        justify-content: space-between;
    }

}

@media (max-width: 797px) {
    .situacao span{
        left: calc(100vw - 22.5%); ;
    }
}
