h1 {
    margin-bottom: 32px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}


.container {
    display: flex;
    width: 40%;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--cor2);
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 8px;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 5px;
}

.barra {
    margin: 0;
    width: 100%;
}

.img-opcoes{
    padding-top: 5px;
width: 40px;
} 
.a-opcoes, .pesquisar{
    white-space: nowrap;
    min-width: auto;
    padding: 0 10px;
    border-color: transparent;
    background-color: var(--cor2);
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    font-weight: 400;
}

.img-pesquisar{
    padding-top: 5px;
    padding-right: 3px;
    margin: 6px;
    width: 30px;
    height: 30px;
}


/* 
.btn {

} */

.btn:hover {

    cursor: pointer;
}

.btn:hover img{
    scale: 1.3;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="file"],
input[type="date"],
input[type="time"],
select {
    border: 2px solid var(--cor2);
    border-radius: 0%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    padding: 3px;
    color: var(--cor3);
}

select:hover {
    cursor: pointer;    
}
.opcoes{
    width: 100%;
}


.categoria{
    box-sizing: border-box;
    width: 100%;
    padding: 6px 7px 7px 7px;
    border-bottom-right-radius: 5px !important;
    display: none;
    
}