.seta {
    position: relative;
    left: 0;

    height: 40px;
    width: 40px;
}

.titulo {
    display: flex;

}

h1 {
    margin: 0 10px 0 10px;
}

.titulo a {
    text-decoration: none;
}

.borda {
    border: 1px solid #9696963b;
}

.calendario {
    background-color: #FAFAFA;
    width: 100%;
    margin: 36px 0;
    border-radius: 10px;
    border-spacing: 0;
    color: #969696;

}

.nome-dia {
    height: 43px;
    font-size: 16px;
    color: #969696;
}

.nome-dia:first-child {

    border-top-left-radius: 10px;

}

.nome-dia:last-child {

    border-top-right-radius: 10px;
    ;
}

.semana:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.semana:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.dia {
    width: 14%;
    height: 150px;

}

/* .container-calendario{
    width: 100%;
    height: 100%;
    position: relative;
 } */

.numero-dia {
    height: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    font-size: 21px;
    margin-bottom: auto;
}

.eventos {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    margin-top: auto;
    height: 70%;
    width: 100%;
}

.evento {
    box-sizing: border-box;
    padding: 3px;
    margin: 0 0 5px 5px;
    border: 1px solid transparent;
    border-radius: 5px;

    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;


    max-width: 15ch;
    max-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.evento:first-child {
    margin-top: 5px;
}

.evento:last-child {
    margin-bottom: 5px;
}

.eventos-outros {
    z-index: 2;
    width: 100%;
    height: 0;
    text-decoration: none;

}

.outros {
    position: relative;
    left: calc(100% - 41px);
    bottom: 27px;

    width: 19px;

    background-color: #96969642;
    color: #969696;
    margin: 0 5px 5px 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px 5px;

    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
}


/* cores */

.laranja {
    background-color: rgba(237, 149, 42, 0.3);
    color: rgb(237, 148, 42);
}

.exposicao {
    color: rgb(153, 102, 255);
    background-color: rgb(230, 204, 255);
}

.apresentacao {
    color: rgb(255, 153, 51);
    background-color: rgb(255, 230, 204);
}

.feira {
    color: rgb(0, 204, 102);
    background-color: rgb(204, 255, 230);
}

.show {
    color: rgb(255, 51, 51);
    background-color: rgb(255, 204, 204);
}

.festival {
    color: rgb(255, 204, 0);
    background-color: rgb(255, 243, 204);
}

.evento-beneficente {
    color: rgb(102, 153, 255);
    background-color: rgb(204, 230, 255);
}

.encontro {
    color: rgb(255, 102, 153);
    background-color: rgb(255, 204, 230);
}

.festa {
    color: rgb(255, 51, 153);
    background-color: rgb(255, 204, 230);
}

.workshop-oficina {
    color: rgb(0, 153, 204);
    background-color: rgb(204, 230, 255);
}

.curso {
    color: rgb(51, 204, 255);
    background-color: rgb(204, 243, 255);
}

.esportivo {
    color: rgb(102, 255, 102);
    background-color: rgb(230, 255, 230);
}

.competicao {
    color: rgb(255, 102, 51);
    background-color: rgb(255, 230, 204);
}

.caminhada-corrida {
    color: rgb(3, 190, 28);
    background-color: rgb(230, 255, 204);
}

.palestra {
    color: rgb(204, 102, 255);
    background-color: rgb(243, 204, 255);
}

.religioso {
    color: rgb(255, 204, 153);
    background-color: rgb(255, 243, 230);
}

.evento-academico {
    color: rgb(102, 102, 204);
    background-color: rgb(230, 230, 255);
}

.palestra-seminario {
    color: rgb(51, 153, 153);
    background-color: rgb(204, 243, 243);
}



@media (max-width: 1200px) {
    .eventos-outros {
        height: auto;
    }

    .outros {
        bottom: 0;
    }
}