@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    text-align: center;

} 

.corpo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#inicio-data, #fim-data {
    display: inline-block;
    justify-content: center;
    margin: 5px 10px;
}


#inicio-hora, #fim-hora {
    display: inline-block;
    justify-content: center;
    margin: 5px 10px;
       
}

form {
    margin: 20px;
    width: 98%;
    border: 5px solid #AD88C6;  
    border-radius: 30px;
    
}

input {
    border: 1px solid #AD88C6;
    border-radius: 30px;
   
}

textarea {
    border: 1px solid #AD88C6;
    border-radius: 30px;
    margin: 10px 15px;
    
}

button {
    border: 1px solid #AD88C6;
    border-radius: 30px;
    background-color: #AD88C6;
    padding: 0 5px 0 5px;
    margin-bottom: 5px;
    
}

button:hover {
    border: 1px solid var(--cor1);
    border-radius: 30px;
    background-color: var(--cor3);
}

button h3 {
    color:white;
}

input[type="text"] {
    width: 98%;
    height: 30px;
}

input[type="date"], 
input[type="time"] {
    width: 300px;
    height: 30px;
}



h2{
    margin: 5px 10px;
}

/* #cep  {
    display: inline-block;
    justify-content: center;
    width: 90px;
    height: 30px;
    
} */

.local_bairro {
    width: 350px;
    height: 30px;
}

.local_cep {
    width: 250px;
    height: 30px;

}
.local_rua {
    width: 100%;
    height: 30px;

}

.local_numero {
    width: 90px;
    height: 30px;

}

#local1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
}

#local2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
}

#rua {
    width: 51%;
    padding: 0px 10px; 
}

#bairro {
    padding: 0px 10px;
}



@media (max-width: 820px) {
    
       
        #corpo {
        display: flex;
        flex-direction: column;
   
    }

        form {
       display: flex;
       flex-direction: column;
       width: 98%;
      

      
    }


   .nome_evento {
        width: 275px;

    }
    .local_cep, .local_bairro {
        width: 150px;

    }
    #rua {
        width: 55%; 

    }

    input[type="date"], 
    input[type="time"] {
    width: 100px;
    }

    textarea {
        width: 95%;  
    }


      
}