@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    text-align: center;

} 

.corpo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    margin: 20px;
    width: 800px;
    border: 5px solid #AD88C6;  
    border-radius: 30px;   
}

input {
    border: 1px solid #AD88C6;
    border-radius: 30px;
   
}

textarea {
    border: 1px solid #AD88C6;
    border-radius: 30px;
    margin: 10px 15px;
    
}

button {
    border: 1px solid #AD88C6;
    border-radius: 30px;
    background-color: #AD88C6;
    padding: 0 5px 0 5px;
    margin-bottom: 5px;
    
}

button:hover {
    border: 1px solid var(--cor1);
    border-radius: 30px;
    background-color: var(--cor3);
}

button h3 {
    color:white;
}


.nome_completo, .email, .nome_usuario{
    width: 400px;
    height: 30px;
}


h2{
    margin: 5px 10px;
}


#telefone-cpf {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#label-tel, #label-cpf {
    display: inline-block;
    margin: 5px 10px;
}


.telefone, .cpf {
    display: inline-block;
    width: 350px;
    height: 30px;
    margin: 5px, 10px;
}

#senhas {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#label-senha1, #label-senha2 {
    display: inline-block;
    margin: 5px 10px;
}

.criar-senha, .confirme-senha {
    display: inline-block;
    width: 350px;
    height: 30px;
   
       
}


#bairro {
    padding: 0px 10px;
}



@media (max-width: 820px) {
    
       
        #corpo {
        display: flex;
        flex-direction: column;
    }

        form {
       display: flex;
       flex-direction: column;
       width: 80%;
      

      
    }


   .nome_completo, .email, .nome_usuario {
        width: 90%;

    }
    .telefone, .cpf {
        width: 90%;

    }
    .criar-senha, .confirme-senha {
        width: 90%; 

    }

     
}